- warn "starting array"
[
%ol.rubyarray
  - input_template.each_with_index do |item, i|
    %li(value="#{i}")
      /- warn "label #{item.to_s}"
      /= item.class.to_s
      /\ :
      - warn "fragment for #{item.inspect}"
      = input_template_form_fragment(item, field_name + "[#{i}]")
      ,
]
