<h1><%= rpc_method.title %></h1>
<h2><tt><%= target.url %></tt> method <tt><%= rpc_method.method_name.to_s %></tt></h2>

<form name="xmlrpc_form" action="<%= action_url %>" method="POST">

<% warn rpc_method.inspect %>

<% template = rpc_method.input_template
   if template.is_a? Array
     template.each do |item| %>
	   <%= item.to_s %>: <input type="text" name="input[]"><br>
     <% end %>

<% elsif template.is_a? Hash
	template.each_pair do |item_key, item| %>
	  <%= item_key.to_s %> (<%= item.to_s %>): <input type="text" name="<%= item_key.to_s %>[]"><br>
	<% end %>

<% else %>
	<%= template.to_s %>: <input type="text" name="input"><br>
<% end %>

<input type="submit" value="Execute">
<input type="reset" value="Clear Form">

<!-- Test cases disabled until JS can be generated dynamically
<input type="button" onclick="document.xmlrpc_form.username.value = 'xmlrpctest9999'; document.user_creation__creatuser.username.disabled = 0" value="Test: should return success"><br>

<input type="button" onclick="document.xmlrpc_form.username.value = 'invalid!^%$#^username'; document.user_creation__creatuser.username.disabled = 0" value="Test: should return failures"><br>

<input type="button" onclick="document.xmlrpc_form.username.disabled = 1" value="Test: should raise exception"><br>
-->
</form>